/*
@media (min-width: 993px) {
  .btn-responsive {
    padding:4px 8px;
    font-size:220%;
    line-height: 2;
    border-radius:3px;
  }
}
@media (max-width: 768px) {
  .btn-responsive {
    padding:4px 8px;
    font-size:220%;
    line-height: 2;
    border-radius:3px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:120%;
    line-height: 1.2;
  }
}
.btn-xlw {
    padding: 10px 10px;
    font-size: 220%;
    border-radius: 10px;
    width:80%;
}
.btn-ctrlw {
    padding: 10px 10px;
    font-size: 300%;
    border-radius: 30px;
    width:20%;
}
*/
div[id="currentlist"] > div {
	/*display: inline-block;*/
	background-color: lightblue;
    /*padding: -4px 4px;*/
    border-radius: 6px;
	border: 1px solid black;
}
div[id="reservelist"] > div {
	/*display: inline-block;*/
	background-color: lightgrey;
    /*padding: -4px 4px;*/
    border-radius: 6px;
	border: 1px solid black;
}
.ctrl {
	/*display: inline-block;*/
	background-color: lightblue;
	border: 1px solid black;
    font-size: 100%;
    border-radius: 6px;
	margin: auto;
	text-align: center;
	width:5%;
}
.ctrl span{
	font-size: xx-small;
	 line-height: 10px;
}
.sitename {
	font-family: 'Lobster', cursive;
	text-align: center;
	padding: 10px 10px;
    font-size: 150%;
}
