/*
@media (min-width: 993px) {
  .btn-responsive {
    padding:4px 8px;
    font-size:220%;
    line-height: 2;
    border-radius:3px;
  }
}
@media (max-width: 768px) {
  .btn-responsive {
    padding:4px 8px;
    font-size:220%;
    line-height: 2;
    border-radius:3px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:120%;
    line-height: 1.2;
  }
}
.btn-xlw {
    padding: 10px 10px;
    font-size: 220%;
    border-radius: 10px;
    width:80%;
}
.btn-ctrlw {
    padding: 10px 10px;
    font-size: 300%;
    border-radius: 30px;
    width:20%;
}
*/
@media screen and (max-width: 767px){
   .table-responsive>.table>thead>tr>th, .table-responsive>.table>tbody>tr>th, 
   .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, 
   .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tfoot>tr>td {
        word-break: break-word;
   }
}
body {
  width:100%;
  background-color: #FFFFFF;
  background-image: url(http://www.transparenttextures.com/patterns/connected.png);
}
div[id="currentlist"] > div {
	/*display: inline-block;*/
	background-color: lightblue;
    /*padding: -4px 4px;*/
    /*border-radius: 6px;*/
	border: 1px solid black;
}
div[id="reservelist"] > div {
	/*display: inline-block;*/
	background-color: lightgrey;
    /*padding: -4px 4px;*/
    /*border-radius: 6px;*/
	border: 1px solid black;
}
span[class="glyphicon"] {
	width:10px;
}
.ctrl {
	/*display: inline-block;*/
	background-color: lightblue;
	border: 1px solid black;
    font-size: 60%;
    border-radius: 6px;
	/*margin: auto;*/
	text-align: left;
	width:29px;
}
.ctrl span{
	font-size: xx-small;
	line-height: 20px;
}
.sitename {
	font-family: 'Lobster', cursive;
	text-align: center;
	padding: 10px 10px;
    font-size: 150%;
}

